<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Форум</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<script>
    function searchPost() {
        let text = $("#textForSearch").val();
        let patternSpace = /^[\s]+$/;
        if (patternSpace.test(text) || text.length < 3 || text.length > 100) {
            alert("Строка нулевая, содержит меньше 3 символов или длиннее 100 символов. Введите значение для поиска снова.");
            $("#textForSearch").val("");
        } else {
            $.get("/finding_posts", {stringForSearch: text})
                .done(function (data) {
                    let json = JSON.parse(data);
                    if ('error' in json) {
                        let result = json.error;
                        $("#post_div").html(result);
                    } else {
                        let responseBody = '';
                        responseBody += '<table class="table table-bordered">';
                        for (let post in json) {
                            responseBody += '<table class="table table-bordered"><tbody><tr><table class="table table-bordered">';
                            <!--Post name with link-->
                            responseBody += '<tr class="table-primary">';
                            responseBody += '<td><a href="/post?id_post=' + json[post].id + '">' + json[post].name + '</a>';
                            responseBody += '</td></tr>';
                            <!--Post description-->
                            responseBody += '<tr class="table-info">';
                            responseBody += '<td class="font-italic">' + json[post].description + '</td>';
                            responseBody += '</tr>';
                            <!--Post date-->
                            responseBody += '<tr>';
                            responseBody += '<td>Дата создания: ' + json[post].created.year + '-'
                                + json[post].created.monthValue + '-'
                                + json[post].created.dayOfMonth + '</td>';
                            responseBody += '</tr>';
                            <!--Post message-->
                            for (let message in json[post].messages) {
                                responseBody += '<tr><td>';
                                responseBody += json[post].messages[message].text;
                                responseBody += '</td></tr>';
                            }
                            responseBody += '</table></tr></tbody></table>';
                        }
                        responseBody += '</table>';
                        $("#post_div").html(responseBody);
                    }
                })
        }
    }
</script>

<body>

<nav class="navbar navbar-expand-sm bg-primary">
    <a class="navbar-brand text-white">Форум</a>
    <a class="nav-link text-white" th:href="@{/create_post}">Добавить новую тему</a>
    <a class="text-white" th:href="@{/logout}">Выйти</a>
</nav>
<nav class="navbar navbar-expand-sm bg-light">
    <form class="form-inline">
        <input class="form-control" id="textForSearch" type="text" placeholder="Введите данные для поиска">
        <button class="btn btn-success" type="button" onclick="searchPost()">Найти</button>
    </form>
</nav>

<div class="container-fluid" id="post_div">
    <table class="table table-bordered">
        <tbody>
        <tr th:each="post: ${posts}">
            <table class="table table-bordered">
                <tr class="table-primary">
                    <td><a class="font-weight-bold" th:href="@{/post(id_post=${post.id})}" th:text="${post.name}">Открыть</a>
                    </td>
                </tr>
                <tr class="table-info">
                    <td class="font-italic" th:text="${post.description}">Описание поста</td>
                </tr>
                <tr>
                    <td th:text="'Автор: '+ ${post.getUser().getUsername()}">Автор</td>
                </tr>
                <tr>
                    <td th:text="'Дата создания: '+${post.created}">Дата создания</td>
                </tr>
            </table>
        </tr>
        </tbody>
    </table>
</div>

</body>

</html>