<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Новая тема</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-dark bg-primary">
    <a class="text-white" th:href="@{/}">На главную страницу</a>
    <a class="text-white" th:href="@{/logout}">Выйти</a>
</nav>

<div class="container">
    <form th:action="@{/save_post}" method="post">
        <table class="table table-borderless">
            <tr>
                <td>
                    <label for="name">Введите название темы</label>
                    <textarea rows="2" cols="50" id="name" name="name"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="description">Введите описание темы</label>
                    <textarea rows="5" cols="50" id="description" name="description"></textarea>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Создать тему"></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>