<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title th:text="${post.name}">Тема</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-dark bg-primary">
    <a class="text-white" th:href="@{/}">На главную страницу</a>
    <a class="text-white" th:href="@{/logout}">Выйти</a>
</nav>

<div class="container-fluid">
    <table class="table table-bordered">
        <tr class="table-primary">
            <td class="font-weight-bold" th:text="${post.name}">Навание поста</td>
        </tr>
        <tr class="table-info">
            <td class="font-italic" th:text="${post.description}">Описание поста</td>
        </tr>
        <tr>
            <table class="table table-bordered table-hover">
                <tr th:each="message: ${messages}">
                    <td class="font-weight-bolder" th:text="'Автор: '+${message.user.username}">Автор сообщения</td>
                    <td class="font-weight-normal" th:text="${message.text}">Текст сообщения</td>
                    <td class="font-italic" th:text="'Дата сообщения: '+${message.created}">Дата сообщения</td>
                </tr>
            </table>
        </tr>
        <tr>
            <table class="table table-borderless">
                <tr>
                    <form th:action="@{/message_save(id_post=${post.id})}" method="post">
                        <table class="table table-borderless">
                            <tr>
                                <td>
                                    <label for="text">Введите сообщение:</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea rows="5" cols="50" id="text" name="text"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" value="Отправить сообщение">
                                </td>
                            </tr>
                        </table>
                    </form>
                </tr>
            </table>
        </tr>
    </table>
</div>
</body>
</html>