<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title th:text="${post.name}">Тема</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table>
        <tr th:text="${post.name}">Имя поста</tr>
        <tr th:text="${post.description}">Описание поста</tr>
        <tr th:each="message: ${messages}">
        <td th:text="${message.text}"></td>
        </tr>
        <tr>
            <form th:action="@{/message_save(id=${post.id})}" method="post">
                <table>
                    <tr>
                        <label for="message">Введите сообщение:</label>
                    </tr>
                    <tr>
                        <textarea rows="5" cols="50" id="message" name="description"></textarea>
                    </tr>
                    <tr>
                        <input type="submit" value="Отправить">
                    </tr>
                </table>
            </form>
        </tr>
    </table>
</div>
</body>
</html>